{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Main Page | Shop</title>
{% endblock %}

{% block main %}
    <div class="wrapper wrapper-content">

        <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Товары</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-xs-7 content">
                                <h1 class="no-margins text-navy">{{ clothes_stock.count }}</h1>
                                <i class="fa fa-level-up font-bold text-navy"></i>
                                <small>На складе</small>
                            </div>
                            <div class="col-xs-7 content">
                                <h1 class="no-margins text-navy">{{ clothes_stock_amount }}</h1>
                                <i class="fa fa-level-up font-bold text-navy"></i>
                                <small>На сумму</small>
                            </div>
                            <div class="col-xs-3 content">
                                <h1 class="no-margins text-warning">{{ clothes_sold.count }}</h1>
                                <i class="fa fa-level-up font-bold text-warning"></i>
                                <small>Продано</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Выручка</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-xs-7 content">
                                <h1 class="no-margins text-navy">{{ servers_active.count }}</h1>
                                <i class="fa fa-level-up font-bold text-navy"></i>
                                <small>За месяц</small>
                            </div>
                            <div class="col-xs-3 content">
                                <h1 class="no-margins text-warning">{{ servers_decomissioned.count }}</h1>
                                <i class="fa fa-level-up font-bold text-warning"></i>
                                <small>За неделю</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Долги</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-xs-3 content">
                                <h1 class="no-margins text-warning">{{ vservers_decomissioned.count }}</h1>
                                <i class="fa fa-level-down font-bold text-warning"></i>
                                <small>Общий долг в магазин</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
                <div class="col-lg-offset-2 col-lg-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Клиенты</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-xs-7 content">
                                    <h1 class="no-margins text-navy">{{ companies_active.count }}</h1>
                                    <i class="fa fa-level-up font-bold text-navy"></i>
                                    <small>Число клиентов</small>
                                </div>                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
{% endblock %}