{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Password reset complete | Asset Manager</title>
{% endblock %}

{% block login %}
<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">IAM</h1>
        </div>

        <h3>Password reset complete</h3>
        <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
        <p class="m-t"> <small>INETRECO &copy; 2018</small> </p>
        </br>
    </div>
</div>
{% endblock %}