{% load staticfiles %}
<nav class="navbar-default navbar-static-side " role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu sticky-top" id="side-menu" style="">
            <li class="nav-header">
                <div class="dropdown profile-element"> <span>
                    <img alt="image" class="img" src="{% static 'inetreco_logo.logo' %}">
                        </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{ user.username }}</strong>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="{% url 'logout' %}">Выход</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    <img alt="image" class="img" src="{% static 'inetreco_logo.logo' %}">
                </div>
            </li>
            <li>
                <a href="{% url 'haystack_search' %}"><i class="fa fa-search"></i> <span class="nav-label">Поиск</span></a>
            </li>
            <li class="active">
                <a href="#"><i class="fa fa-plus"></i> <span class="nav-label">Добавить / Создать</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="{% url 'clothes_create' %}">Добавить товар</a></li>
                </ul>
                <ul class="nav nav-second-level collapse">
                    <li><a href="{% url 'money_create' %}">Добавить выручку</a></li>
                </ul>
                <ul class="nav nav-second-level collapse">
                    <li><a href="{% url 'client_create' %}">Добавить клиента</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-laptop"></i> <span class="nav-label">Товар</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="{% url 'clothes_create' %}">Добавить товар</a></li>
                    <li><a href="{% url 'clothes_list' %}">Список товаров / Изменить</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-laptop"></i> <span class="nav-label">Выручка</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="{% url 'money_create' %}">Добавить выручку</a></li>
                    <li><a href="{% url 'money_list' %}">Список выручки / Изменить</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-laptop"></i> <span class="nav-label">Клиент</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="{% url 'client_create' %}">Добавить клиента</a></li>
                    <li><a href="{% url 'client_list' %}">Список клиентов / Изменить</a></li>
                </ul>
            </li>
            
        </ul>
    </div>
</nav>