<div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="paginate_button previous" id="DataTables_Table_0_previous" data-vivaldi-spatnav-clickable="1">
                <a href="?page={{ page_obj.previous_page_number }}" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0">Предыдущий</a>
            </li>
        {% else %}
            <li class="paginate_button previous disabled" id="DataTables_Table_0_previous" data-vivaldi-spatnav-clickable="1">
                    <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0">Предыдущий</a>
            </li>
        {% endif %}
        {% for page_number in page_obj.paginator.page_range %}
            {% if page_number == page_obj.number %}
            <li class="paginate_button active" data-vivaldi-spatnav-clickable="1">
                <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">{{ page_number }}</a>
            </li>
            {% else %}
                <li class="paginate_button" data-vivaldi-spatnav-clickable="1">
                    <a href="?page={{ page_number }}" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">{{ page_number }}</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="paginate_button next" id="DataTables_Table_0_next" data-vivaldi-spatnav-clickable="1">
                <a href="?page={{ page_obj.next_page_number }}" aria-controls="DataTables_Table_0" data-dt-idx="4" tabindex="0">Следующий</a>
            </li>
        {% else %}
            <li class="paginate_button next disabled" id="DataTables_Table_0_next" data-vivaldi-spatnav-clickable="1">
                <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="4" tabindex="0">Следующий</a>
            </li>
        {% endif %}
    </ul>
</div>